nav {
  height: 144px;
  background: #5855e7;
}

.nav_items {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav_item a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.nav_item a {
  overflow: hidden;
  position: relative;
}
.nav_item:hover {
  opacity: 0.7;
}
.nav_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 268px;
  height: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: transform ease;
}
.nav_btn:active {
  transform: scale(0.98);
}
.menu_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 50px;
  height: 50px;
  color: #5855e7;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
